-
  var meta = {
    "top": {
      "title": "topのtitleになります",
      "description": "topのdescriptionになります",
      "keywords":"topのkeywordsになります",
      "image":"./assets/images/ogp.jpg",
      "url":"",
    },
    "sub": {
      "title": "subになります",
      "description": "topのdescriptionになります",
      "keywords":"topのkeywordsになります",
      "image":"./assets/images/ogp.jpg",
      "url":"/sub",
    },
  };