- var page = 'top'; //metaの出しわけ
- var PATH_TYPE = "main"; //パスの出しわけ
include ./include/config/_config
include ./include/meta/_data


block page
doctype html
html(lang="ja")
  include ./include/config/_head
  body.p-top(data-page="top")